.productList {
  width: 100%;
  padding: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.list img {
  width: 150px;
  aspect-ratio: 2/3;
}

.list div {
  margin: 20px;
  flex: 0 0 15%;
}
