td button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

td button:hover {
  border-color: aquamarine;
}
td {
  padding: 6px;
}
.td_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.del_btn:hover {
  border-color: red;
}
